<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v6.0" sku=".NETFramework,Version=v6.0.4"/>
	</startup>

	<appSettings>
		<add key="PROXY_LISTEN_PORT" value="8080"/>
		<add key="FORWARD_URL" value="http://localhost"/>
		<add key="PARSE_BODY" value="false"/>
	</appSettings>
</configuration>